body{width:auto; margin:0 auto;}
/*-------------HEADER------------*/
.header{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    /*border: 1px solid blue;/* visualizza grandezza della cover*/
    width: 100%;
    background-color: white;
    z-index: 999;
  }
  .header__logo{ /*classe che modifica il logo a sinistra dell'header*/
    text-align: center;
    font-size: 40px;
    font-family: 'Guns';
    margin: 0px;
    color: #8c8b8b;
    float: left; 
    height: 0px;
    margin-top: -10px;
  }
  
  .header__hr { /*classe che modifica HorizontalRow dell'header*/
    border: 0;
    box-shadow: 0 5px 5px -5px #8c8b8b inset;
    margin-top: -6px;
    margin-bottom: -5px;
    height: 5px;
  }
  
  .header__menu{
    font-family: Verdana, sans-serif;
    font-size: 11px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  .header__menu__item{
    float: left; /* elementi su singola riga */
    list-style-type: none;
  }
  .header__menu__item button{
    border: none;
    background: none;
    color:#8c8b8b;
    font-family: "Times New Roman";  
    text-align: center;
    font-size: 16px;
    size: auto;
    transition: all 0.5s;
    cursor: pointer;
  }
  .header__menu__item button:hover{opacity: 0.75;}/*classe che modifica l'elemento di menu quando ci si passa sopra con il mouse*/
    
  .header__menu__item a{
    color: #8c8b8b;
    display: block;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
  }
  .header__menu__item a:hover{opacity: 0.75;}
  .header__menu__item__dropdown {
    margin-left: 5px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 80px;
    z-index: 1;
}

.header__menu__item__dropdown a{
    color: #8c8b8b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.header__menu__item__dropdown a:hover {color: green;}


.header__menu__item:hover .header__menu__item__dropdown {
    display: block;
}
  
  .header__menu__logo {
    list-style-type: none;
  }
/*--------------END-------------*/

/*-------------DRUM-------------*/
.drum{
<<<<<<< HEAD
    padding: 0px;
=======
    padding: 0;
>>>>>>> c8c02cace6ccc179b4f360a88e4fc326a780e428
    margin-left: 20%;
  }
/*--------------END-------------*/

/*--------------Fonts-----------*/
@font-face {
    font-family: 'Guns';
    src: url('../Font/guns.TTF');
  }
/*--------------END-------------*/

/*--------------FIX-------------*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

  .Rbutton {
    width: 35px;
    height: 35px;
    font-size: 0;
    background-color: red;
    border: 0;
    border-radius: 35px;
    margin-top: auto;
    outline: none;
  }
  
  .notRec{
    background-color: darkred;
  }
  
  .Rec{
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes pulse{
    0%{
      box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
    }
    65%{
      box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
    }
    90%{
      box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
    }
  }

  #recordingBar {
    margin-top: 3.4%;
  }
  
  .nonVisibile {
    display: none;
  }
  
  .visibile {
    display: inherit;
  }

/*Stile bottoni registrazione*/
#nomeCanzone {
  float: left;
}

#salvaCanzone {
  float: left;
}

#reset {
  float: left;
}

#undo {
  float: left;
}

#mySongs {
  float: right;
}