
html{height: 100%} /*fullscreen del body*/
body{height: 100%; margin-left: 0px;margin-right: 0px;margin-top: 1%;margin-bottom: 0px;}


/*-------------HEADER------------*/
.header{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    /*border: 1px solid blue;/* visualizza grandezza della cover*/
    width: 100%;
    background-color: white;
    z-index: 999;
}
.header__logo{ /*classe che modifica il logo a sinistra dell'header*/
    text-align: center;
    font-size: 40px;
    font-family: 'Guns';
    margin: 0px;
    color: #8c8b8b;
    float: left; 
    height: 0px;
    margin-top: -10px;
}

.header__hr { /*classe che modifica HorizontalRow dell'header*/
	border: 0;
    box-shadow: 0 5px 5px -5px #8c8b8b inset;
    margin-top: -6px;
    margin-bottom: -5px;
    height: 5px;
}

.header__menu{
    font-family: Verdana, sans-serif;
    font-size: 11px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.header__menu__item{
    float: left; /* elementi su singola riga */
    list-style-type: none;
}
.header__menu__item button{
    border: none;
    background: none;
    color:#8c8b8b;
    font-family: "Times New Roman";  
    text-align: center;
    font-size: 16px;
    size: auto;
    transition: all 0.5s;
    cursor: pointer;
}
.header__menu__item button:hover{opacity: 0.75;}/*classe che modifica l'elemento di menu quando ci si passa sopra con il mouse*/
    
.header__menu__item a{
    color: #8c8b8b;
    display: block;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}
.header__menu__item a:hover{opacity: 0.75;}

.header__menu__item__dropdown {
    margin-left: 5px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 80px;
    z-index: 1;
}

.header__menu__item__dropdown a{
    color: #8c8b8b;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.header__menu__item__dropdown a:hover {color: green;}

.header__menu__item__dropdown button{
    color: #8c8b8b;
    padding: 12px 16px;
    text-decoration: none;
    background: none;
    border: none;
    display: block;
    text-align: left;
  }
  .header__menu__item__dropdown button:hover {color: green;}
  
.header__menu__item:hover .header__menu__item__dropdown {
    display: block;
}


.header__menu__logo {
    list-style-type: none;
}
/*--------------END-------------*/


/*-------------COVER------------*/
/*definizione della classe di cover(homepage in pratica)*/
.cover{
    height: 100%;
    /*border: 1px solid yellow;/* visualizza grandezza della cover*/
    background-color: black;
    background-image: url("https://source.unsplash.com/1600x900/?music,sound");
    background-size: cover;
    background-position: center center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.cover__text{
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1; /*testo sopra allo sfodo opaco*/
}
.cover__text__aux{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Guns';
    font-size: 30;
    color: white;
}
.cover__opacity{ /*filtro di opacitÃƒÆ’Ã‚Â  sull'imagine */
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0; /*voglio lo sfondo sotto al testo*/
    opacity: 0.25;
}
/*--------------END-------------*/


/*------------WHOAMI------------*/
.banner__whoami{ background-color:  rgba(245, 245, 245, 1); height: 40%; margin-top: 5%;}
.banner__whoami__img{
    width:30%; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    height: 100%;
    background-color: black;
    background-image: url(".././Immagini/ChiSiamo.jpg");
    background-size: cover;
    background-position: center center;
}
.banner__whoami__text{width:70%; float:left; height: 100%; text-align: center; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner__whoami__text h1{
    margin: 5px auto;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Guns';
    font-size: 40;
    color:#8c8b8b;
}
.banner__whoami__text p{
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    list-style-type: none;
    color:#8c8b8b;
}

/*--------------END-------------*/

/*-----------CONTACTS-----------*/
.banner__contacts{ background-color: rgba(245, 245, 245, 0.822); height: 40%; margin-top: 5%;}
.banner__contacts__img{
    width:30%; 
    float: left;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: black;
    background-image: url(".././Immagini/Contatti.jpg");
    background-size: cover;
    background-position: center center;
}
.banner__contacts__text{width:70%; float:left; height: 100%; text-align: center; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.banner__contacts__text h1{
    margin: 5 auto;
    margin-bottom: 0px;
    text-align: center;
    font-family: 'Guns';
    font-size: 40;
    color:#8c8b8b;
}
.banner__contacts__text p{
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    list-style-type: none;
    color:#8c8b8b;
}

.chisiamotext:hover{
    color: green;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}
.contattitext:hover{
    color: rgb(255, 255, 4);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}
a{
    text-decoration: none;
    color: inherit;
}
.facebook{
    font-family: "Guns";
    font-size: 25;
}
.twitter{
    font-family: "Guns";
    font-size: 25;
}
.instagram{
    font-family: "Guns";
    font-size: 25;
}

.facebook:hover{
    color: rgb(22, 22, 112);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}

.twitter:hover{
    color: skyblue;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}

.instagram:hover{
    color: rgb(109, 26, 81);
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}
/*--------------END-------------*/

/*------------BUTTON------------*/

/*codice del bottone "entra"*/
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: none;
    color:#8c8b8b;
    text-align: center;
    font-size: 20px;
    width: 100px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px; 
  }
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .button:hover span {
    padding-right: 25px;
  }
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
/*--------------END-------------*/


/*--------------Fonts-----------*/
@font-face {
    font-family: 'Guns';
    src: url('../Font/guns.TTF');
}
/*--------------END-------------*/

/*--------------FIX-------------*/

/*fix del float si puÃ² ignorare tranquilli*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */