H1.logo{
    text-align: center;
    font-size: 45px;
    font-family: 'Guns';
    margin: 0px;
    color: #8c8b8b;
    float: left;
    height: 0px;
    margin-top: 0px;
}

hr.lower {
    height: 10px;
	border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    margin-top: 0px;
    margin-bottom: 0px;
}

ul#menu {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul#menu li {
    float: left; /* elementi su singola riga */
}
ul#menu li a {
    color: #8c8b8b;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul#menu li a:hover{
    opacity: 0.75;
}



@font-face {
    font-family: 'Guns';
    src: url('../Font/guns.TTF');
}