H1.logo{
    text-align: center;
    font-size: 60px;
    font-family: 'Guns';
    margin: 10px;
    color: #8c8b8b;
    margin-right: 1300px;
    height: 22px;
    margin-bottom: 0px;
    margin-top: 0px;
}

hr.lower {
    height: 10px;
	border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
    margin-top: 0px;
}

ul#menu {
    font-family: Verdana, sans-serif;
    font-size: 11px;
    width: 650px;
    margin: 0 auto;
    margin-right: 0;
    padding: 0;
    list-style: none;
}
 
ul#menu li {
    background-color: rgb(255, 255, 255);
    /*border-bottom: 5px solid rgb(114, 114, 114);*/
    display: block;
    width: 150px;
    height: 30px;
    margin: 2px;
    float: left; /* elementi su singola riga */
}
ul#menu li a:hover{
    opacity: 0.75;
}
ul#menu li a {
    color: #8c8b8b;
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: center;
}
 
@font-face {
    font-family: 'Guns';
    src: url('../Font/guns.TTF');
}