body{width: 1024px; background-color: black;}

.keys {
  margin: 0 auto;
  position: relative;
  display: inline-flex;
  overflow: hidden;
  height: 332px;
  background: black;
  user-select: none;
}
.keys:before, .keys:after {
  content: '';
  pointer-events: none;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
.keys:before {
  box-shadow: 0 4px 2px #d52, 0 4px 0 #a55;
  height: 4px;
  top: -4px;
}
.keys:after {
  top: 0;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 0 2px black inset, 0 0 0 4px black;
}
.keys .key {
  cursor: pointer;
  transform: translate3d(0, 0, 0);
}
.keys .black {
  position: relative;
  z-index: 0;
  height: 160px;
  width: 22px;
  flex: 0 0 22px;
  background-color: #111;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.2)), radial-gradient(ellipse at center, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.1)), linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), linear-gradient(to right, rgba(0, 0, 0, 0.3) 0px, rgba(255, 255, 255, 0.3) 1px, transparent 6px), linear-gradient(to left, rgba(0, 0, 0, 0.3) 0px, rgba(255, 255, 255, 0.3) 1px, transparent 6px);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 1px 0 0 0 #333333 inset, 0 1px 2px rgba(178, 178, 154, 0.4), 0 0 0 2px #000, 0 40px 0 2px #333;
  margin: 0 -11px;
  transform: translate3d(0, -30px, 0);
}
.keys .black.active {
  transform: translate3d(0, -22.5px, 0);
}
.keys .black:before {
  content: '';
  position: absolute;
  top: 100%;
  right: 100%;
  border-radius: 3px;
  margin-right: -1px;
  border: 10px solid transparent;
  border-bottom-color: #000;
  border-right-color: #000;
  transform-origin: 100% 0%;
  transform: rotate(15deg);
}
.keys .black:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 100%;
  border-radius: 3px;
  margin-left: -1px;
  border: 10px solid transparent;
  border-bottom-color: #000;
  border-left-color: #000;
  transform-origin: 0% 0%;
  transform: rotate(-15deg);
}
.keys .white {
  position: relative;
  z-index: 1;
  height: 160px;
  width: 60px;
  flex: 0 0 60px;
  background-color: #EDED68;
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.8)), radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  background-position: center center, 15px 50px, center center;
  background-size: 100% 100%, 300% 100%, 100% 100%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset, 1px 0 0 0 white inset, 0 0 0 1px #b2b29a, 0 20px 0 -1px #a9a999, 0 20px 0 0 #c1c1ae, 0 20px 0 1px #b2b29a;
  border-radius: 0 3px 3px 3px;
  margin: 150px 2px 22px;
}
.keys .white.active {
  height: 165px;
  transform: translate3d(0, 5px, 0);
  background-size: 100% 100%,100% 100%,100% 100%, 300% 100%, 100% 100%;
  background-position: center center, center center, center center, 15px 50px, center center;
  background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0.7)), linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent 8px), linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent 6px), radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)), linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
}
.keys .white .top {
  height: 160px;
  position: absolute;
  bottom: 100%;
  background-color: white;
  box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.1) inset, 1px 0 0 0 white inset, 0 -1px 0 0 white, 0 -1px 0 1px #b2b29a;
  border-radius: 3px 3px 0 0;
  margin-bottom: -1px;
}
.keys .white .top:before, .keys .white .top:after {
  position: absolute;
  bottom: 0;
  height: 6px;
  width: 6px;
  margin-bottom: 2px;
}
.keys .white .top:before {
  left: 100%;
  border-radius: 0 0 0 3px;
  margin-left: 1px;
  box-shadow: -1px 0 0 0 #b2b29a, 0 1px 0 0 #b2b29a, -3px 3px 0 #fff;
}
.keys .white .top:after {
  right: 100%;
  margin-right: 1px;
  border-radius: 0 0 3px 0;
  box-shadow: 1px 0 0 0 #b2b29a, 0 1px 0 0 #b2b29a, 3px 3px 0 #fff;
}
.keys .white.left .top {
  left: 0;
  width: 45px;
}
.keys .white.left .top:before {
  content: '';
}
.keys .white.right {
  border-radius: 3px 0 3px 3px;
}
.keys .white.right .top {
  right: 0;
  width: 45px;
}
.keys .white.right .top:after {
  content: '';
}
.keys .white.center {
  border-radius: 3px;
}
.keys .white.center .top {
  left: 15px;
  width: 20px;
  width: 30px;
}
.keys .white.center .top:before, .keys .white.center .top:after {
  content: '';
}
#noteregistrate {
  color: white;
}