
html{height: 100%} /*fullscreen del body*/
body{height: 100%; margin-left: 0px;margin-right: 0px;margin-top: 1%;margin-bottom: 0px; background-color: #eee}


/*-------------HEADER------------*/
.header{
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    height: 8%;
    background-color: white;
    z-index: 999;
}
.header__logo{ /*classe che modifica il logo a sinistra dell'header*/
    text-align: center;
    font-size: 40px;
    font-family: 'Guns';
    margin: 0px;
    color: #8c8b8b;
    float: left; 
    height: 0px;
    margin-top: -10px;
}

.header__hr { /*classe che modifica HorizontalRow dell'header*/
    height: 10%;
	border: 0;
    box-shadow: 0 5px 5px -5px #8c8b8b inset;
    margin-top: -6px;
    margin-bottom: 0px;
}

.header__menu{
    font-family: Verdana, sans-serif;
    font-size: 11px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}
.header__menu__item{
    float: left; /* elementi su singola riga */
    list-style-type: none;
}
.header__menu__item a{
    color: #8c8b8b;
    display: block;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}
.header__menu__item a:hover{ /*classe che modifica l'elemento di menu quando ci si passa sopra con il mouse*/
    opacity: 0.75;
}

.header__menu__logo {
    list-style-type: none;
}
/*--------------END-------------*/


/*-------------COVER------------*/
/*definizione della classe di cover(homepage in pratica)*/
.cover{
    height: 60%;
    /*border: 1px solid red;/* visualizza grandezza della cover*/
    background-color: black;
    background-image: url("https://source.unsplash.com/1600x900/?music,sound");
    background-size: cover;
    background-position: center center;
    
}
.cover__text{
    display: table;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1; /*testo sopra allo sfodo opaco*/
}
.cover__text__aux{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: 'Guns';
    font-size: 30;
    color: white;
}
.cover__opacity{ /*filtro di opacità sull'imagine */
    background: black;
    width: 100%;
    height: 60%;
    position: absolute;
    z-index: 0; /*voglio lo sfondo sotto al testo*/
    opacity: 0.25;
}
/*--------------END-------------*/

/*----------INSTRUMENTS---------*/

.instruments{
    max-width: 1300px;
    margin: 30px auto;
    margin-left: auto;
    margin-right: auto;
    
}
.instruments__choose{
    max-width: 400px;
    margin: 0 1%;
    background-color: white;
    float: left;
}
.instruments__choose__img{
    width: 100%;
    height: auto;
}
.instruments__choose__text h3{
    text-align: center;
    font-family: 'Guns';
    font-size: 30;
    margin-bottom: 0px;
}
.instruments__choose__text p{
    font-family: Verdana, sans-serif;
    font-size: 15px;   
    margin-bottom: 0px;

}
/*--------------END-------------*/

/*------------BUTTON------------*/
/*codice del bottone "gioca"*/
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: none;
    color:#8c8b8b;
    text-align: center;
    font-size: 20px;
    width: 100px;
    height: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
/*--------------END-------------*/

/*--------------Fonts-----------*/
@font-face {
    font-family: 'Guns';
    src: url('../Font/guns.TTF');
}
/*--------------END-------------*/

/*--------------FIX-------------*/
/*fix del float si può ignorare tranquilli*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */